.cart-wrapper {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #ffffff,
    #f0fdf4,
    #dcfce7
  );
  padding-top: 120px;
}

.cart-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.cart-page {
  max-width: 1000px;
  margin: 140px auto 60px;
  padding: 20px;
}

.cart-page h1 {
  text-align: center;
  color: #15803d;
  font-size: 48px;
  margin-bottom: 40px;
}

.cart-product {
  background: white;
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

.cart-product h3 {
  font-size: 26px;
  margin-bottom: 8px;
}

.cart-product p {
  color: #6b7280;
}

.cart-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-actions button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
}

.cart-actions button:hover {
  opacity: 0.9;
}

.cart-actions button:first-child,
.cart-actions button:nth-child(2) {
  background: #dcfce7;
  color: #15803d;
}

.remove-btn {
  background: #ef4444 !important;
  color: white !important;
}

.cart-summary {
  background: white;
  padding: 25px;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;

  box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

.checkout-btn {
  margin-top: 15px;
  padding: 15px 30px;

  background: #16a34a;
  color: white;

  border: none;
  border-radius: 12px;

  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.checkout-btn:hover {
  background: #15803d;
}

.back-btn {
  display: block;
  margin: 25px auto 0;

  border: none;
  background: transparent;

  color: #15803d;
  font-size: 16px;
  cursor: pointer;
}

.empty-cart {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;

  box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

@media (max-width: 768px) {
  .cart-product {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .cart-page h1 {
    font-size: 36px;
  }

  .cart-actions {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.cart-icon {
  position: relative;
  font-size: 38px;
  color: #15803d;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

.cart-icon:hover {
  color: #16a34a;
  transform: scale(1.1);
}

.cart-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 16px;
  background: white;
  padding: 6px;
}

.cart-detail h3 {
  margin: 0;
  font-size: 24px;
}

.cart-detail p {
  margin-top: 6px;
  color: #64748b;
}

.subtotal {
  color: #15803d;
  font-weight: 700;
  margin-top: 6px;
}

.total-price {
  margin-top: 10px;
  color: #15803d;
  font-size: 32px;
  font-weight: 800;
}